@import "../styles/colors";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
}

.navbar {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px,
    rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
}

.hover-animated {
  -webkit-animation-duration: 0.1s;
  animation-duration: 0.1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;  
}

.underline-animation {
  display: inline-block;
  position: relative;
  color: $themeColor;
}

.underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: $themeColor;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underline-animation-black {
  display: inline-block;
  color: #000;
  position: relative;
}

.underline-animation-black:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.react-activity-calendar {
  svg: {
    width: 850px;
    height: 140px;
    padding: 0.2rem;
  }
}

.vertical-timeline {
  .vertical-timeline-element-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
  }

  .vertical-timeline-element-date {
    color: #000000;
    font-weight: 600;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #dddcdc;
}
::-webkit-scrollbar-thumb {
  background: $themeColor;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: $themeColor;
}

html.dark {
  .vertical-timeline::before {
    background: #374151 !important;
  }

  .vertical-timeline-element-icon {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .vertical-timeline-element-content {
    background-color: #374151;
  }

  .vertical-timeline-element--no-children {
    .vertical-timeline-element-content {
      background-color: transparent;
    }
  }

  .vertical-timeline-element-date {
    color: #fff;
  }
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}