.select-player-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.board-container {
  text-align: center;
}

.score-card-container {
  display: inline-flex;
  width: fit-content;
  justify-content: center;
  text-align: center;
  align-items: center !important;
}

.margined-left {
  margin-left: 15px;
}

@media (max-width: 800px) {
  .score-card-container span {
    padding-top: 8px;
  }
}
